<div class="card">
  <div class="card-header">
      {{ header }}
  </div>

  <!-- single slot transclusion here -->
  <ng-content select="[card-body]"></ng-content>

  <div class="card-footer">
      {{ footer }}
  </div>
</div>
