<h1>Single slot transclusion</h1>
<app-card header="my header" footer="my footer">
    <!-- put your dynamic content here -->
    <div class="card-block" card-body>
        <h4 class="card-title">You can put any content here</h4>
        <p class="card-text">For example this line of text and</p>
        <a href="#" class="btn btn-primary">This button</a>
      </div>
      <!-- end dynamic content -->
<app-card>
 